body {
    background-color: darkslategray;
    color: whitesmoke;
    font-family: monospace;
    font-size:16px;
}

#container {
    width:100%;
}

#header {
    background-color: black;
    font-size: 24px;
}

#content {
    margin: auto;
    width:85%;
}